@model CurrencyApp.Models.CurrencyModel

@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Currency" asp-action="create" method="post" class="mt-3">

    @{
        Html.RenderPartial("Main");
    }

</form>