@model CurrencyApp.Models.CurrencyModel

@{
    ViewData["Title"] = "update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <form asp-controller="Currency" asp-action="update" method="post" class="mt-3">

        @{
            @await Html.PartialAsync("Main");
        }

    </form>