@model CurrencyApp.Models.CalculatorModel
    <head>
        <link href="~/css/Styles.css" rel="stylesheet" type="text/css" />
        <script src="~/js/custom.js" type="text/javascript"></script>
    </head> 



    <div class="main">

        <div class="form-group-row">
            <div class="lable">
                <label asp-for="fromCurrency" class="col-sm-2 col-form-label">From</label>
            </div>
            <div class="col-sm-10">

                @Html.DropDownListFor(model => model.fromCurrency, ViewBag.operations as SelectList, "Select",
                    new { @class = "form-control", @id = "from-data" })
                @Html.ValidationMessageFor(model => model.fromCurrency, "", new { @class = "text -danger" })
            </div>
        </div>
        <div class="form-group-row">
            <div class="lable">
                <label asp-for="toCurrency" class="col-sm-2 col-form-label">To</label>

            </div>
            <div class="col-sm-10">


                @Html.DropDownListFor(model => model.toCurrency, ViewBag.operations as SelectList, "Select",
                    new { @class = "form-control", @id = "to-data" })
                @Html.ValidationMessageFor(model => model.toCurrency, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group-row">
            <div class="lable">
                <label class="col-sm-2 col-form-label">Rate</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="rate-holder" placeholder="Rate" disabled>
                @*<span asp-validation-for="Rate" class="text-danger"></span>*@
            </div>
        </div>

        <div class="form-group-row">
            <div class="lable">
                <label asp-for="sell" class="col-sm-2 col-form-label">Sell</label>
            </div>
            <div class="col-sm-10">
                <input asp-for="sell" id="sell" class="form-control" placeholder="">
                <span asp-validation-for="sell" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group-row">
            <div class="lable">
                <label asp-for="buy" class="col-sm-2 col-form-label">Buy</label>
            </div>
            <div class="col-sm-10">
                <input asp-for="buy" id="buy" class="form-control" placeholder="">
                <span asp-validation-for="buy" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group-row">
            <div class="col-sm-10">
                <button id="dis" type="submit" class="btn btn-primary" disabled>Convert</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="lable">
                <label asp-for="comment" class="col-sm-2 col-form-label">comment</label>
             </div>

                <div class="col-sm-10">
                    <input asp-for="comment" id="comment-holder" class="form-control" placeholder="">
                    <span asp-validation-for="comment" class="text-danger"></span>
                </div>
            </div>


        </div>
